@import '../_vars.sass'
.page-header__l10n-list
    display: none
    margin: 0
    padding: 0
    list-style: none

    &--open
        display: block

.page-header__l10n
    position: absolute
    top: 20px
    right: 18px
    background-color: #fff
    padding: 0 18px
    border-radius: 8px
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06)
    font-size: 16px
    line-height: 32px
    cursor: pointer
    text-transform: uppercase
    user-select: none

.page-header__l10n-active
    margin: 0
    padding: 0
    position: relative

    &::after
        display: block
        position: absolute
        top: 50%
        right: -7px
        content: ""
        width: 5px
        height: 5px
        background-image: url('../img/logo/sort-down.svg')
        background-position: center
        background-size: contain
        transform: translateY(-50%)

    &--open::after
        background-image: url('../img/logo/sort-up.svg')

.page-header__l10n-item
    margin: 0
    padding: 0

.page-header__l10n-locale
    margin: 0
    padding: 0
    background: none
    border: none
    cursor: pointer
    font-size: 16px
    line-height: 32px
    letter-spacing: 0
    color: #959595
    text-decoration: none

    &:hover
        color: #393636


@media (min-width: 1088px)

    .page-header__l10n
        top: 80px
        right: 40px

@media (min-width: 1280px)
    .page-header__l10n
        right: 160px
