-
    const reviewers = [
        {
            src: "img/logo/active-a.svg",
            alt: "Anton Lis",
            active: true
        },
        {
            src: "img/logo/active-m-a@3x.png",
            alt: "Marat Azimov",
            active: false
        },
        {
            src: "img/logo/active-r-p.svg",
            alt: android_reviews.third_review_author,
            active: false
        },
        {
            src: "img/logo/active-t-d@3x.png",
            alt: android_reviews.fourth_review_author,
            active: false
        },
        {
            src: "img/logo/active-c-p.svg",
            alt: android_reviews.fifth_review_author,
            active: false
        }
    ]
.android-reviews__ava-container
        button.android-reviews__carousel-button.android-reviews__carousel-button--active
            span.visually-hidden Anton Lis
            | A
        button.android-reviews__carousel-button
            span.visually-hidden Marat Azimov
        button.android-reviews__carousel-button
            span.visually-hidden=android_reviews.third_review_author
            | R
        button.android-reviews__carousel-button
            span.visually-hidden=android_reviews.fourth_review_author
        button.android-reviews__carousel-button
            span.visually-hidden=android_reviews.fifth_review_author
            | C
