.android-reviews__ava-container
        button.android-reviews__carousel-button.android-reviews__carousel-button--active
            span.visually-hidden Anton Lis
            | A
        button.android-reviews__carousel-button
            span.visually-hidden Marat Azimov
        button.android-reviews__carousel-button
            span.visually-hidden=android_reviews.third_review_author
            | R
        button.android-reviews__carousel-button
            span.visually-hidden=android_reviews.fourth_review_author
        button.android-reviews__carousel-button
            span.visually-hidden=android_reviews.fifth_review_author
            | C
